<template>
  <div class="post-detail p-2">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="end"> Description </label>
          <textarea cols="30" rows="10" class="form-control" v-model="description"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-block" @click="onCopyToClipboard(description)"> Copy to clipboard </button>
        </div>
      </div>

      <div class="col-12">
        <PosterCreator/>
      </div>
    </div>
  </div>
</template>

<script>
  import { clipboard } from 'electron';
  import {mapGetters, mapActions} from 'vuex';

  import PosterCreator from './PosterCreator';

  export default {
    name: 'post-detail',
    components: {
      PosterCreator,
    },
    data() {
      return {
        description: ''
      }
    },
    created () {
      this.description = `
▶️ Watch more videos like this: https://bit.ly/36Pqk7X
🔔 Subscribe! https://bit.ly/3cohUpt
👍 Like this video if you want to see more videos!


#redditstories #recordscraper #reddit

if you don't want your story on any of my videos, Please don't hesitate to shoot me a message thru my email: thelscraper@gmail.com, and i will be happily remove it 😇Cheers!

Credits:`;
      this.posts.forEach((p) => {
        this.description += `
https://www.reddit.com/user/${p.author}/`;
      });
        this.description += `
        
Posts:`;
      this.posts.forEach((p) => {
        this.description += `
${p.url}`;
      });
    },
    methods: {
      onCopyToClipboard(text) {
        clipboard.writeText(text, 'selection')
      }
    },
    computed: {
      ...mapGetters('RedditPost', ['posts'])
    }
  }
</script>

<style>

</style>
