<template>
  <div class="post-image">
    <PostImageAudio/>
    
    <template v-for="(post, index) in posts">
      <div class="post" :key="`post-${index}`">

        <div class="post--title">
          <PostImageTitle :post="post"/>
          
          <div class="rc--card" :class="{'print': shouldPrint, 'p-2': !shouldPrint}">
            <div class="title" :ref="`i${post.id}`">
                <div class="sub">Posted by u/{{post.author}} {{post.createdHumanReadable}}</div>
                <h4>{{ post.title }}</h4>
            </div>
          </div>
        </div>

        <div class="post--description"
          v-for="(p, pIndex) in post.p"
          v-bind:key="`p${pIndex}`"
        >
          <PostImageParagraph
            :post="post"
            :p="p"
          />

          <div class="rc--card" :class="{'print': shouldPrint, 'p-2': !shouldPrint}">
            <div class="description m-2" :ref="`paragraph-${p.id}-${pIndex}`">
              <p v-html="p.html" class="p-1"></p>
            </div>
          </div>
        </div>

        <PostImageAfterCredit :post="post"/>


      </div>
    </template>

    <div class="post-image--action">
      <button class="btn btn-primary" @click="exportVideo()">
        Export Video
      </button>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import fs from 'fs';
  import ffmpeg from 'fluent-ffmpeg';
  import nrc from 'node-run-cmd';
  // import concat from 'ffmpeg-concat';
  
  import {makeid} from '../../utilities/index';
  import PostImageTitle from './PostImage/PostImageTitle';
  import PostImageParagraph from './PostImage/PostImageParagraph';
  import PostImageAudio from './PostImage/PostImageAudio';
  import PostImageAfterCredit from './PostImage/PostImageAfterCredit';

  export default {
    name: 'post-image',
    components: {
      PostImageTitle, PostImageParagraph, PostImageAudio, PostImageAfterCredit
    },
    data() {
      return {
        shouldPrint: false,
      };
    },
    created () {},
    methods: {
      ...mapActions('RedditPost', [
        'onUpdatePost',
        'onUpdateParagraph',
      ]),
      getImages() {
        this.shouldPrint = true;

        const options = {
          type: "dataURL",
          logging: false,
          useCORS: true
          // allowTaint: true
        };

        const works = [];
        
        this.posts.forEach(post => {
          const postEl = this.$refs[`i${post.id}`][0];
          works.push(this.$html2canvas(postEl, options).then((image) => {
            const value = {
              base64: image,
            };
            this.onUpdatePost({ post, value })
            return true;
          }));


          post.p.forEach((p, index) => {
              const el = this.$refs[`paragraph-${p.id}-${index}`][0];
              works.push(this.$html2canvas(el, options).then((image) => {
                const value = {
                  base64: image,
                };
                this.onUpdateParagraph({post, p, value})
                return true;
              }));
          });
        });

        return Promise.all(works)
          .then(() => {
            this.shouldPrint = false;
            return true;
          })
      },
      async exportVideo() {
        await this.getImages();
        const items = [];
        const data = {}

        const onSaveImage = (data) => {
          const imageBase64 = data.base64.split(';base64,').pop();
          const imageFile = `${this.folder}\\${makeid(7)}.png`;

          fs.writeFileSync(imageFile, imageBase64, {encoding: 'base64'});

          return {
            file: imageFile,
            start: data.start,
            end: data.end,
          }
        }
        
        this.posts.forEach(post => {
          items.push(onSaveImage(post))
          
          post.p.forEach((p) => items.push(onSaveImage(p)));

          items.push({
            file: post.postCredit.image,
            start: post.postCredit.start,
            end: post.postCredit.end,
          });
        });


        this.onCreateVideo(items);
      },
      onCreateVideo(items = []) {
        const bgVid = 'src/renderer/assets/all-bg.mov';
        const introVid = 'src/renderer/assets/intro.mov';
        const audio = this.audio.file;
        const videoFile = `${this.folder}\\${makeid(7)}.mov`;
        const finalFile = `${this.folder}\\${makeid(5)}.mov`;

        const createVideo = () => {
          return new Promise((resolve, reject) => {
            
            let ffcmd = ffmpeg()
              .input(bgVid)
              .input(this.audio.file) 
            
            const complexFilter = [];
            
            items.forEach(({file, start, end}, key) => {
              const first = key === 0 ? 0 : `v${key + 1}`;
              const second = key + 2;

              ffcmd = ffcmd.input(file);
              complexFilter.push(`[${first}][${second}] overlay=(main_w-overlay_w)/2:(main_h-overlay_h)/2:enable='between(t,${start},${end})'[v${second}]`)
            });

            ffcmd = ffcmd
              .complexFilter(complexFilter)
              .outputOptions([
                '-pix_fmt yuv420p',
                `-map [v${items.length + 1}]`,
                '-map 1:a:0',
                '-shortest'
              ])
              .on('start', (commandLine) => {
                console.log('Spawned Ffmpeg with command: ' + commandLine);
              })
              .on('error', console.error)
              .on('progress', (progress) => {
                console.log('Processing: ' + progress.targetSize + ' KB converted');
              })
              .on('end', () => {
                alert(`done creating new video ${videoFile}`);
                resolve(videoFile);
              })
              .save(videoFile);
          });
        }

        const mergeIntroAndVideo = (videoFile) => {
          const cmd = `ffmpeg -y -i ${introVid} -i ${videoFile.replace(/\\/g, '/')} -filter_complex "[0:v]fps=25,scale=1280:720,format=yuv420p,setsar=1,setpts=PTS-STARTPTS[v0]; [1:v]fps=25,scale=1280:720,format=yuv420p,setsar=1,setpts=PTS-STARTPTS[v1]; [0:a]aformat=channel_layouts=stereo:sample_rates=44100,asetpts=PTS-STARTPTS[a0]; [1:a]aformat=channel_layouts=stereo:sample_rates=44100,asetpts=PTS-STARTPTS[a1]; [v0][a0][v1][a1]concat=n=2:v=1:a=1[v][a]" -map "[v]" -map "[a]" -c:v libx264 -c:a aac -movflags +faststart ${finalFile.replace(/\\/g, '/')}`
          
          console.log('cmd', cmd)

          return nrc.run(cmd).then((exitCodes) => {
            alert(`done creating new video ${finalFile}`);
            return finalFile;
          }, (err) => {
            console.error('Command failed to run with error: ', err);
          });

          // this is not gonna work due to complex filter doesn't allow multiple filters in a chain
          // see https://github.com/fluent-ffmpeg/node-fluent-ffmpeg/issues/780

          // return new Promise((resolve) => {
          //   const complexFilter = [];

          //   ffmpeg()
          //     .input(introVid)
          //     .input(videoFile)
          //     .complexFilter([
          //       '[0:v]fps=25,scale=1280:720,format=yuv420p,setsar=1,setpts=PTS-STARTPTS[v0]',
          //       '[1:v]fps=25,scale=1280:720,format=yuv420p,setsar=1,setpts=PTS-STARTPTS[v1]',
          //       '[0:a]aformat=channel_layouts=stereo:sample_rates=44100,asetpts=PTS-STARTPTS[a0]',
          //       '[1:a]aformat=channel_layouts=stereo:sample_rates=44100,asetpts=PTS-STARTPTS[a1]',
          //       '[v0][a0][v1][a1]concat=n=2:v=1:a=1[v][a]',
          //     ])
          //     .outputOptions([
          //       '-map [v]',
          //       '-map [a]',
          //       '-c:v libx264',
          //       '-c:a aac',
          //       '-movflags',
          //       '+faststart'
          //     ])
          //     .on('start', (commandLine) => {
          //       console.log('Spawned Ffmpeg with command: ' + commandLine);
          //     })
          //     .on('error', console.error)
          //     .on('progress', (progress) => {
          //       console.log('Processing: ' + progress.targetSize + ' KB converted');
          //     })
          //     .on('end', () => {
          //       alert(`done creating new video ${finalFile}`);
          //       resolve(finalFile);
          //     })
          //     .mergeToFile(finalFile);
          // });
        }

        return createVideo().then(mergeIntroAndVideo);
      }
    },
    computed: {
      ...mapGetters('RedditPost', ['posts', 'audio']),
      ...mapGetters('Utilities', ['folder'])
    }
  }
</script>

<style scoped lang="scss">
  .rc--card {
    display: none;
  }

  .rc--card.print {
    display: block;
    border-radius: 4px;
    margin-bottom: 10px;
    background: rgb(26, 26, 27);
    padding: 20px;
    border: #343536;
    font-family: Noto Sans,Arial,sans-serif;
    width: 1200px;

    .title {
      padding: 20px;
      font-size: 2em;
      background: rgb(26, 26, 27);

      .sub {
        color: #818384;
      }

      h4 {
        color: #D7DADC;
        font-size: 1em;
      }
    }

    .description {
      color: rgb(215, 218, 220);
      background: rgb(26, 26, 27);
      font-size: 1.5em;
    }
  }

  .post-image--action {
    position: fixed;
    bottom: 1px;
    right: 1px;
  }

</style>
