<template>
  <div class="poster-creator">
    <h5>Poster Creator</h5>
    <div class="poster-coreator--container" ref="image-convo">
      <div class="row">
        <div class="col-5">
          <div class="poster-creator--image">
            <img :src="image" v-if="image" @click="onChooseImage()">
            <button class="btn btn-default" @click="onChooseImage()" v-if="!image">
              Choose an image
            </button>
          </div>
        </div>
        <div class="col-7">
          <div class="poster-creator--convo">
            <div class="you left-top">
              You are too loud!
            </div>
            <div class="me">
              volume up!!
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-default" @click="onCreateImageConvo()">
      Save as Image
    </button>
  </div>
</template>

<script>
  import fs from 'fs';
  import { mapGetters } from 'vuex';
  import { remote } from 'electron';
  const { dialog } = remote;

  import {makeid} from '../../utilities/index';

  export default {
    name: 'poster-creator',
    created () {},
    data() {
      return {
        image: '',
        styles: {},
      }
    },
    methods: {
      onChooseImage() {
        const images = dialog.showOpenDialog({
          properties: ['openFile'],
          filters: [
            { name: 'Images', extensions: ['jpg', 'png'] },
          ]
        });

        if (images.length > 0) {
          const imageBase64 = fs.readFileSync(images[0], { encoding: 'base64' });
          this.image = `data:image/png;base64, ${imageBase64}`;
        }
      },
      onCreateImageConvo() {
        const options = {
          type: "dataURL",
          logging: false,
          useCORS: true
          // allowTaint: true
        };

        this.$html2canvas(this.$refs['image-convo'], options).then((image) => {
          const file = `${this.folder}\\${makeid(11)}.png`;
          fs.writeFile(file, image.split(';base64,').pop(), {encoding: 'base64'}, function(err) {
              console.log('File created', file);
              alert(file);
          });
        });
      }
    },
    computed: {
    ...mapGetters('Utilities', ['folder']),
    }
  }
</script>

<style scoped lang="scss">
  .poster-coreator--container {
    padding: 10px;
    border: 3px solid #E3835E;
    width: 1280px;
    height: 720px;

    .row, .poster-creator--convo {
      height: 100%;
    }

    .poster-creator--convo {
      display: flex;
      flex-direction: column;

      .you, .me {
        flex: 1;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        font-size: 8.1em;
        text-transform: uppercase;
        line-height: 80%;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .you {
        background: #CDCDCD;
        color: black;

      }

      .me {
        background: #34D0FD;
        color: white; 
        font-size: 5em;
      }
    }

    .poster-creator--image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        // max-width: 100%;
        max-height: 100%;
      }
    }
  }
</style>
