<template>
  <div class="landing-page">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Welcome to reddit video creator</h5>
        <system-information></system-information>
      </div>
    </div>
  </div>
</template>

<script>
  import SystemInformation from './LandingPage/SystemInformation'

  export default {
    name: 'landing-page',
    components: { SystemInformation },
    created () {},
    methods: {}
  }
</script>

<style>

</style>
