<template>
  <div class="reddit-post-form-page">
    <div class="btn-group special no-gutters" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn no-gutters"
        :class="{'btn-secondary': view === 'text', 'btn-default': view !== 'text'}"
        @click="setView('text')"
      >
        Text
      </button>

      <button
        type="button"
        class="btn no-gutters"
        :class="{'btn-secondary': view === 'image', 'btn-default': view !== 'image'}"
        @click="setView('image')"
      >
        Image and audio
      </button>

      <button
        type="button"
        class="btn no-gutters"
        :class="{'btn-secondary': view === 'detail', 'btn-default': view !== 'detail'}"
        @click="setView('detail')"
      >
        Details
      </button>
    </div>


    <template v-if="view === 'text'">
      <div class="card mb-2" v-for="(post, index) in posts" :key="index">
        <div class="card-body">
          <div class="rc--card">
            <div class="title">
              <div class="sub">Posted by u/{{post.author}} {{post.createdHumanReadable}}</div>
              <h4>{{ post.title }}</h4>
            </div>
            <div class="description" :ref="`description-${index}`">
              <div v-html="post.html"></div>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template v-if="view === 'image'">
      <PostImage/>
    </template>

    <template v-if="view === 'detail'">
      <PostDetail/>
    </template>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import { makeid } from '../utilities/index';
  import PostDetail from './RedditPostFormPage/PostDetail';
  import PostImage from './RedditPostFormPage/PostImage';

  export default {
    name: 'reddit-post-form-page',
    components: {
      PostDetail, PostImage,
    },
    data() {
      return {
        view: 'text'
      }
    },
    mounted() {
      this.splitData();
    },
    methods: {
      ...mapActions('RedditPost', ['onSetPost', 'onSetParagraphs']),
      splitData() {
        this.posts.forEach((post, index) => {

          const p = Array.from(this.$refs[`description-${index}`][0].children[0].children).map((child) => {
            return {
              id: makeid(5),
              html: child.innerHTML,
              text: child.innerText,
              audio: child.innerText,
              base64: '',
              start: 0,
              end: 0,
            };
          });

          this.onSetParagraphs({post, p});
        });
      },

      setView(value) {
        this.view = value;
      }
    },
    computed: {
      ...mapGetters('RedditPost', ["posts"]),
    }
  }
</script>

<style scoped lang="scss">
  .btn-group.special {
    display: flex;
  }

  .special .btn {
    flex: 1
  }

  .image--actions {
    position: fixed;
    bottom: 1px;
    right: 1px;
  }
</style>
