<template>
  <div class="reddit-post-page">
    <div class="card">
      <div class="card-body">
        <div class="list-group active">
          <form class="form-inline text-center">
            <div class="form-group mb-2">
              <label class="sr-only">Sub Reddit</label>
              <select name="sub-reddit" v-model="subReddit" class="form-control">
                <option value="MaliciousCompliance"> MaliciousCompliance </option>
                <option value="entitledparents"> Entitled Parents </option>
                <option value="ProRevenge"> Pro Revenge </option>
                <option value="idontworkherelady"> I Dont Work Here Lady </option>
              </select>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <select name="time" v-model="time" class="form-control">
                <option value="day"> Day </option>
                <option value="week"> Week </option>
                <option value="month"> Month </option>
                <option value="year"> Year </option>
                <option value="all-time"> All Time </option>
              </select>
            </div>
            <button type="button" class="btn btn-primary mb-2" @click="search()">Search</button>
          </form>

          <a
            v-for="post in posts"
            :key="post.id"
            class="list-group-item"
            v-tooltip="`${post.text.substring(0, 300)}...`"
            @click="onToggleSelect(post)"
            :class="{'active': post.selected}"
          >
            {{ post.title }}
          </a>
        </div>
      </div>
    </div>

    <div class="action-container">
      <router-link
        to="/reddit-post/form"
        exact
        class="btn btn-primary"
      >
        Finalize
      </router-link>
    </div>

  </div>
</template>

<script>
  import moment from "moment";
  import { nFormatter, htmlDecode, removeComment } from "../utilities/index";
  import { mapActions, mapGetters } from 'vuex';

  export default {
    name: 'reddit-post-page',
    components: {},
    data () {
      return {
        subReddit: 'MaliciousCompliance',
        time: 'month',
        posts: [],
      }
    },
    created () {
      this.getData();
    },
    methods: {
      ...mapActions('RedditPost', [
        'onSetPost'
      ]),
      search() {
        this.getData();
      },
      getData() {
        const { reddit } = window;

        if (!reddit) {
            return;
        }

        reddit
            .top(this.subReddit)
            .t(this.time)
            .limit(200)
            .fetch(res => {
                const { data } = res;
                const posts = data
                    .children
                    .map(child => {
                        const { data } = child;
                        const aux = {
                            id: data.id,
                            subReddit: this.subReddit,
                            fullSubReddit: data.subreddit_name_prefixed,
                            title: data.title,
                            name: data.name,
                            numComments: {
                                raw: data.num_comments,
                                format: nFormatter(data.num_comments, 1),
                            },
                            ups: {
                                raw: data.ups || 0,
                                format: nFormatter(child.data.ups || 0, 1),
                            },
                            text: data.selftext,
                            audio: data.title,
                            html: data.selftext_html ? removeComment(htmlDecode(data.selftext_html)) : '',
                            url: data.url,
                            author: data.author,
                            created: moment.unix(data.created),
                            createdHumanReadable: moment.unix(child.data.created).fromNow(),
                            selected: false,
                            start: 0,
                            end: 0,

                            postCredit: {
                              image: this.postCreditImage,
                              audio: '',
                              start: 0,
                              end: 0,
                            }
                        }

                        return aux;
                    });

                this.posts = posts;
            });
      },
      onToggleSelect(post) {
        const _post = this.posts.find(p => p.id === post.id);
        _post.selected = !post.selected;

        const posts = [...this.posts.filter(a => a.selected)];

        this.onSetPost(posts);
      }
    },
    computed: {
      ...mapGetters('Utilities', ['postCreditImage'])
    }
  }
</script>

<style>
  .list-group-item {
    cursor: pointer;
  }

  .action-container {
    position: fixed;
    bottom: 1px;
    right: 1px;
  }
</style>
