<template>
  <div class="utilities-page">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Settings</h5>

        <div class="row">
          <div class="col-12">
            <form>
              <div class="form-group">
                <label for="voices">Voice</label>
                <select name="voices" class="form-control" v-model="voice" required>
                  <option v-for="(voice, index) in voices" :key="index">
                    {{ voice }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="volume">Volume</label>
                <div class="form-group">
                  <input type="range" required class="form-control-range" min="0" max="1" step="0.01" v-model="volume">
                </div>
              </div>

              <div class="form-group">
                <label for="folder">Folder</label>
                <div class="form-group">
                  <input type="text" required class="form-control" v-model="folder" :readonly="true" @click="openSelectFolder()">
                </div>
              </div>

              <div class="form-group">
                <label for="folder">Post Credit Image</label>
                <div class="form-group">
                  <input type="text" required class="form-control" v-model="spostCreditImage" :readonly="true" @click="openSelectImage()">
                </div>
              </div>

              <div class="form-group">
                <label for="volume">
                  Text to speech
                </label>
                <div class="float-right">
                  <button type="button" class="btn btn-sm btn-default" @click="onSpeak()">Speak</button>
                  <button type="button" class="btn btn-sm btn-danger" @click="onExport()">Export</button>
                </div>
                <div class="form-group mt-2">
                  <textarea class="form-control" v-model="text"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import say from 'say';
  import nrc from 'node-run-cmd';

  import { makeid } from '../utilities';
  const { dialog } = require('electron').remote

  export default {
    name: 'utilities-page',
    data() {
      return {
        voices: [],
        text: 'This is an example of text to speech',
      }
    },
    mounted () {
      say.getInstalledVoices((err, voices) => {
        this.voices = voices;
      });
    },
    methods: {
      ...mapActions('Utilities', [
        'onSetFolder',
        'onSetVoice',
        'onSetVolume',
        'onSetPostCreditImage',
      ]),
      openSelectFolder() {
        const folders = dialog.showOpenDialog({
          properties: ['openDirectory']
        });

        if (folders && folders.length > 0) {
          this.folder = folders[0];
        }
      },
      openSelectImage() {
        const images = dialog.showOpenDialog({
          properties: ['openFile'],
          filters: [
            { name: 'Images', extensions: ['jpg', 'png'] },
          ]
        });

        if (images && images.length > 0) {
          this.postCreditImage = images[0];
        }
      },
      onSubmitForm() {
        console.log('submit')
      },
      onSpeak() {
        say.speak(this.text, this.voice, this.volume);
      },
      onExport() {
        const file = `${makeid(5)}.wav`;
        say.export(this.text, this.voice, this.volume, `${this.folder}/${file}`, (err) => {
          if (!err) alert(`file ${file} was saved`)
        });
      }
    },
    computed: {
      ...mapGetters('Utilities', {
        sfolder: 'folder',
        svoice: 'voice',
        svolume: 'volume',
        spostCreditImage: 'postCreditImage',
      }),

      folder: {
        get() {
          return this.sfolder;
        },
        set(value) {
          this.onSetFolder(value);
        }
      },

      voice: {
        get() {
          return this.svoice;
        },
        set(value) {
          this.onSetVoice(value);
        }
      },

      volume: {
        get() {
          return this.svolume;
        },
        set(value) {
          this.onSetVolume(value);
        }
      },

      postCreditImage: {
        get() {
          return this.spostCreditImage;
        },
        set(value) {
          this.onSetPostCreditImage(value);
        }
      }
    }
  }
</script>

<style>

</style>
