<template>
  <div class="post-image-title p-4">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="title"> Title </label>
          <textarea name="title" placeholder="Title" class="form-control" v-model="postTitle"></textarea>
        </div>
        <div class="form-group">
          <label for="audio"> Audio </label>
          <textarea name="audio" placeholder="Audio" class="form-control" v-model="postAudio"></textarea>
        </div>
      </div>

      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="start"> Start </label>
              <input type="text" class="form-control" readonly="true" placeholder="Start Time" v-model="postStart" @click="onSaveTime(busStart)">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="end"> End </label>
              <input type="text" class="form-control" readonly="true" placeholder="End Time" v-model="postEnd" @click="onSaveTime(busEnd)">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <button class="btn btn-primary btn-xs" @click="onSpeak()">
        Speak
      </button>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import say from 'say';
  import { bus } from '../../../main';

  export default {
    name: 'post-image-title',
    props: {
      post: {
        required: true,
        type: Object,
      }
    },
    created () {
      bus.$on(this.busStart, (data) => {
        this.postStart = data;
      });

      bus.$on(this.busEnd, (data) => {
        this.postEnd = data;

        const p = this.post.p[0];
        
        const value = {
          start: data,
        };

        this.onUpdateParagraph({post: this.post, p: p, value})
      });
    },
    methods: {
      ...mapActions('RedditPost', [
        'onUpdatePost',
        'onUpdateParagraph',
      ]),

      onSpeak() {
        say.speak(this.postAudio, this.voice, this.volume);
      },

      onSaveTime(to) {
        bus.$emit('time-get', {to})
      }
    },
    computed: {
      ...mapGetters('Utilities', ['voice', 'volume']),
      busStart() {
        return `time-get:${this.post.id}:start`;
      },
      busEnd() {
        return `time-get:${this.post.id}:end`;
      },
      postTitle: {
        get() {
          return this.post.title
        },
        set(newValue) {
          const value = {
            title: newValue,
          };
          this.onUpdatePost({ post: this.post, value })
        }
      },
      postAudio: {
        get() {
          return this.post.audio
        },
        set(newValue) {
          const value = {
            audio: newValue,
          };
          this.onUpdatePost({ post: this.post, value })
        }
      },
      postStart: {
        get() {
          return this.post.start;
        },
        set(newValue) {
          const value = {
            start: newValue,
          };
          this.onUpdatePost({ post: this.post, value })
        }
      },
      postEnd: {
        get() {
          return this.post.end;
        },
        set(newValue) {
          const value = {
            end: newValue,
          };
          this.onUpdatePost({ post: this.post, value })
        }
      }

    }
  }
</script>

<style>
  .post-image-title {
    border-bottom: 1px solid #bdbdbd;
  }
</style>