<template>
  <div class="post-image-title p-4">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="audio"> After Credit Audio </label>
          <textarea name="audio" placeholder="Audio" class="form-control" v-model="postCreditAudio"></textarea>
        </div>
      </div>

      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="start"> Start </label>
              <input type="text" class="form-control" readonly="true" @click="onSaveTime(busStart)" placeholder="Start Time" v-model="postCreditStart">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="end"> End </label>
              <input type="text" class="form-control" readonly="true" @click="onSaveTime(busEnd)" placeholder="End Time" v-model="postCreditEnd">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="image"> Image </label>
              <input type="text" class="form-control" placeholder="Image" v-model="post.postCredit.image" readonly="true">
            </div>
            <button class="btn btn-default" @click="onSelectImage()"> Select Image</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <button class="btn btn-primary btn-xs" @click="onSpeak()">
        Speak
      </button>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import say from 'say';
  import { bus } from '../../../main';

  const { dialog } = require('electron').remote

  export default {
    name: 'post-image-after-credit',
    props: {
      post: {
        required: true,
        type: Object,
      }
    },
    created () {
      bus.$on(this.busStart, (data) => {
        this.postCreditStart = data;
      });

      bus.$on(this.busEnd, (data) => {
        this.postCreditEnd = data;
        const postIndex = this.posts.findIndex(p => this.post.id === p.id);

        if ((postIndex + 1) !== this.posts.length) {
          // not the end of it
          const nextPost = this.posts[postIndex + 1];

          const value = {
            start: data + 1.5,
          };
          
          this.onUpdatePost({ post: nextPost, value })
        }
        
      });
    },
    methods: {
      ...mapActions('RedditPost', [
        'onUpdatePost',
      ]),

      onSaveTime(to) {
        bus.$emit('time-get', {to})
      },
      onSpeak() {
        say.speak(this.postCreditAudio, this.voice, this.volume);
      },
      onSelectImage() {
        const result = dialog.showOpenDialog({
          properties: ['openFile'],
          filters: [
            { name: 'Images', extensions: ['jpg', 'png'] },
          ]
        });

        if (result && result.length > 0) {
          const nObj = {image: result[0]};
          const value = {
            postCredit: {...this.post.postCredit, ...nObj},
          };
          
          this.onUpdatePost({ post: this.post, value })
        }
      },
    },
    computed: {
      ...mapGetters('RedditPost', ['posts']),
      ...mapGetters('Utilities', ['voice', 'volume']),

      busStart() {
        return `time-get:post:${this.post.id}:after-credit:start`;
      },
      busEnd() {
        return `time-get:post:${this.post.id}:after-credit:end`;
      },
      postCreditAudio: {
        get() {
          return this.post.postCredit.audio
        },
        set(newValue) {
          const nObj = {audio: newValue};
          const value = {
            postCredit: {...this.post.postCredit, ...nObj},
          };
          
          this.onUpdatePost({ post: this.post, value })
        }
      },
      postCreditStart: {
        get() {
          return this.post.postCredit.start;
        },
        set(newValue) {
          const nObj = {start: newValue};
          const value = {
            postCredit: {...this.post.postCredit, ...nObj},
          };
          
          this.onUpdatePost({ post: this.post, value })
        }
      },
      postCreditEnd: {
        get() {
          return this.post.postCredit.end;
        },
        set(newValue) {
          const nObj = {end: newValue};
          const value = {
            postCredit: {...this.post.postCredit, ...nObj},
          };
          
          this.onUpdatePost({ post: this.post, value })
        }
      }

    }
  }
</script>

<style>
  .post-image-title {
    border-bottom: 1px solid #bdbdbd;
  }
</style>