<template>
  <div class="post-image-paragraph p-4">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="paragraph"> Paragraph </label>
          <textarea name="paragraph" class="form-control" v-model="postParagraph"></textarea>
        </div>

        <div class="form-group">
          <label for="audio"> Audio </label>
          <textarea name="audio" placeholder="Audio" class="form-control" v-model="postParagraphAudio"></textarea>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="start"> Start </label>
              <input type="text" class="form-control" readonly="true" @click="onSaveTime(busStart)" placeholder="Start Time" v-model="postParagraphStart">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="end"> End </label>
              <input type="text" class="form-control" readonly="true" @click="onSaveTime(busEnd)" placeholder="End Time" v-model="postParagraphEnd">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <button class="btn btn-primary btn-xs" @click="onSpeak()">
        Speak
      </button>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import say from 'say';
  
  import { bus } from '../../../main';

  export default {
    name: 'post-image-title',
    props: {
      post: {
        required: true,
        type: Object,
      },
      p: {
        required: true,
        type: Object,
      }
    },
    created () {
      bus.$on(this.busStart, (data) => {
        this.postParagraphStart = data;
      });

      bus.$on(this.busEnd, (data) => {
        this.postParagraphEnd = data;
        const currentIndex = this.post.p.findIndex(p => p.id === this.p.id);

        // check if last
        if ((currentIndex) + 1 === this.post.p.length) {
          // update after credit start + 2
          const nObj = {
            start: (data + 1.5)
          };
          const value = {
            postCredit: {...this.post.postCredit, ...nObj},
          };
          
          this.onUpdatePost({ post: this.post, value })

        } else {
          // update next p (currentIndex)
          const nextP = this.post.p[(currentIndex + 1)];
            
          const value = {
            start: data,
          };

          this.onUpdateParagraph({post: this.post, p: nextP, value})
        }
        
      });
    },
    methods: {
      ...mapActions('RedditPost', [
        'onUpdatePost',
        'onUpdateParagraph',
      ]),

      onSaveTime(to) {
        bus.$emit('time-get', {to})
      },

      onSpeak() {
        say.speak(this.postParagraphAudio, this.voice, this.volume);
      },
    },
    computed: {
      ...mapGetters('Utilities', ['voice', 'volume']),

      busStart() {
        return `time-get:paragraph:${this.p.id}:start`;
      },
      busEnd() {
        return `time-get:paragraph:${this.p.id}:end`;
      },
      postParagraph: {
        get() {
          return this.p.html;
        },
        set(newValue) {
          const value = {
            html: newValue,
          };

          this.onUpdateParagraph({post: this.post, p: this.p, value})
        }
      },
      postParagraphAudio: {
        get() {
          return this.p.audio;
        },
        set(newValue) {
          const value = {
            audio: newValue,
          };

          this.onUpdateParagraph({post: this.post, p: this.p, value})
        }
      },
      postParagraphStart: {
        get() {
          return this.p.start;
        },
        set(newValue) {
          const value = {
            start: newValue,
          };

          this.onUpdateParagraph({post: this.post, p: this.p, value})
        }
      },
      postParagraphEnd: {
        get() {
          return this.p.end;
        },
        set(newValue) {
          const value = {
            end: newValue,
          };

          this.onUpdateParagraph({post: this.post, p: this.p, value})
        }
      },
    }
  }
</script>

<style>
  .post-image-paragraph {
    border-bottom: 1px solid #bdbdbd;
  }
</style>
