<template>
  <div class="post-image-audio p-2 m-2">
    <div class="row">
      <!-- <div class="col-12">
        {{ show ? allAudioText : `${allAudioText.length} characters...`}}
      </div> -->
      <div class="col-12 mt-2">
        <audio controls v-if="audioBase64" ref="audioPlayer">
          <source :src="audioBase64" type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>
      <div class="col-12 mt-2 post-image-audio--speak-container">
        <button type="button" class="btn btn-primary btn-xs" @click="onSpeak()">
          Speak
        </button>
        <button type="button" class="btn btn-warning btn-xs" @click="onExport()">
          Export Audio
        </button>
        <!-- <button type="button" class="btn btn-primary btn-xs" @click="onToggleVisibility()">
          Toggle Visibility
        </button> -->
      </div>
    </div>
  </div>
</template>

<script>
  import say from 'say';
  import fs from 'fs';
  import {mapGetters, mapActions} from 'vuex';
  import ffmpeg from 'fluent-ffmpeg';

  import { bus } from '../../../main';
  import { makeid } from '../../../utilities/index';

  export default {
    name: 'post-image-audio',
    data() {
      return {
        show: true,
      }
    },
    created () {
      bus.$on('time-get', (data) => {
        if (!this.$refs.audioPlayer || !this.$refs.audioPlayer.currentTime) {
          return;
        }

        const currentTime = Math.round((this.$refs.audioPlayer.currentTime + Number.EPSILON) * 100) / 100;
        bus.$emit(data.to, currentTime);
      });
    },
    methods: {
      ...mapActions('RedditPost', ['onSetAudio']),
      onSpeak() {
        say.speak(this.allAudioText, this.voice, this.volume);
      },
      onToggleVisibility() {
        this.show = !this.show;
      },
      onExport() {
        const createAudio = (text) => {
          const audioFile = `${this.folder}\\${makeid(9)}.wav`;
          return new Promise((resolve, reject) => {
            say.export(text, this.voice, this.volume, audioFile, (err) => {
              if (err) {
                return console.error(err)
              }

              resolve(audioFile)
            });
          });
        };
        
        const exportAudio = (text, after) => {
          return new Promise((resolve) => {
            return Promise.all([
              createAudio(text),
              createAudio(after),
            ]).then((results) => {
              const [
                innerFile,
                afterFile
              ] = results;
              const mergedFile = `${this.folder}\\${makeid(10)}.wav`;

              const ffcmd = ffmpeg()
                .input(innerFile)
                .input('src/renderer/assets/audio/silent.wav')
                .input(afterFile)
                .input('src/renderer/assets/audio/silent.wav')
                .complexFilter('[0:0][1:0] concat=n=4:v=0:a=1[out]')
                .outputOptions(["-map [out]"])
                .on('error', console.error)
                .on('progress', (progress) => {
                  console.log('Processing: ' + progress.targetSize + ' KB converted');
                })
                .on('end', () => {
                  resolve(mergedFile);
                })
                .save(mergedFile);
            })
          })
        }

        const onSetAudio = (audioFile) => {
          const audioBase = fs.readFileSync(audioFile, { encoding: 'base64' });
          
          this.onSetAudio({
            file: '',
            base64: '',
          });

          setTimeout(() => {
            this.onSetAudio({
              file: audioFile,
              base64: `data:audio/wav;base64,${audioBase}`,
            });
          }, 100)

          console.log('should force update')
          
          return this.$forceUpdate();
        }

        return Promise.all(this.postsAudio.map(({text, after}) => exportAudio(text, after)))
          .then((audios) => {

            if (audios.length === 1) {
              console.log("set audio", audios)
              return onSetAudio(audios[0]);
            }

            const mergedFile = `${this.folder}\\${makeid(10)}.wav`;

            let ffcmd = ffmpeg();

            audios.forEach(a => {
              ffcmd = ffcmd.input(a);
            })

            ffcmd.complexFilter(`[0:0][1:0] concat=n=${audios.length}:v=0:a=1[out]`)
              .outputOptions(["-map [out]"])
              .on('error', console.error)
              .on('progress', (progress) => {
                console.log('Processing: ' + progress.targetSize + ' KB converted');
              })
              .on('end', () => {
                onSetAudio(mergedFile);
              })
              .save(mergedFile);

            return true;
          });
      }
    },
    computed: {
      ...mapGetters('RedditPost', ['posts', 'audio', 'allAudioText', 'postsAudio']),
      ...mapGetters('Utilities', ['folder', 'voice', 'volume']),

      audioBase64() {
        return this.audio.base64;
      }
    }

  }
</script>

<style>
  .post-image-audio {
    border: 1px solid #bdbdbd;
    box-shadow: 0 0 5px 5px #bdbdbd;
  }

  .post-image-audio--speak-container {
    border-top: 1px solid #bdbdbd;
    padding-top: 10px;
  }
</style>
