<template>
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-2 sidemenu">
        <div class="list-group">
          <router-link 
            v-for="(item, index) in items"
            :key="index"
            active-class="active"
            :to="item.path"
            exact
            class="list-group-item rounded-0 list-group-item-action"
          >
            {{ item.title }}
          </router-link>
        </div>
      </div>

      <div class="col-10">
        <router-view></router-view>
      </div>
    </div>

    <notifications group="message" />
  </div>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            title: 'Dashboard',
            path: '/'
          },
          {
            title: 'Reddit Post',
            path: '/reddit-post'
          },
          {
            title: 'Utilities',
            path: '/utilities'
          }
        ]
      }
    },
    created () {},
    name: 'my-project'
  }
</script>

<style>
  /* CSS */
  .sidemenu {
    border-right: 1px solid #bdbdbd;
  }
</style>
